.img {
  width: 100%;
  margin-bottom: 18%;
}

.card-picture {
  width: 23%;
  margin-bottom: 2%;
}

.container {
  min-height: 100%;
  width: 100%;
}

.search-form {
  width: 40%;
}

.mat-toolbar {
  margin-bottom: 20px;
}

.search-button {
  margin-left: 5px;
}
